* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  font-family: "Poppins";
}

/* navbar */

nav {
  background-color: #2e2e2e;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}
.container {
  padding-left: 8%;
  padding-right: 8%;
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
}
.logo img {
  width: 21px;
  height: 22px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu {
  display: flex;
}

.menu .nav-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu .nav-item {
  color: white;
  list-style: none;
  text-decoration: none;
}
.menu .nav-item .item a:hover {
  color: #fcce5b;
}

.menu .nav-item .item a {
  transition: 0.5 color ease-in-out;
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans";
  line-height: 24px;
  color: white;
  list-style: none;
  text-decoration: none;
}
.menu .nav-item i {
  color: white;
}

.menu .logo-toggle {
  display: none;
}

.header i {
  display: none;
}

/* hero section */
#hero {
  /* height: 100vh; */
  padding-top: 135px;
}
.flex {
  display: grid;
  grid-template-columns: 30% auto;
  row-gap: 56px;
}
.head-text {
  color: white;
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins";
}
.subtext {
  color: #cdcdcd;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Poppins";
}
.flex .right .boxes {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
.flex .right .boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 155px;
  height: 157px;
  padding: 16px;
  background-color: #2e2e2e;
}
.flex .right .boxes .box h3 {
  color: white;
  font-size: 32px;
  line-height: 48px;
}
.flex .right .boxes .box span {
  color: #cdcdcd;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.001em;
}
.btn {
  display: flex;
  justify-content: center;
  padding-top: 56px;
}

.button-Primary {
  width: 200px;
  height: 56px;
  background-color: white;
  border: none;
  transition: all 0.2s ease-in;
  color: #161616;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.button-Primary:hover {
  background-color: #fcce5b;
}

.sponsor {
  margin-top: 105px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* content */
#content {
  margin-top: 170px;
}

.content1 .head-text {
  width: 463px;
}

.content1 .content-img {
  width: 100%;
  margin-top: 48px;
}

.content1 .img2 {
  margin-bottom: 40px;
  width: 100%;
}

.content1 .subtext {
  font-size: 18px;
  margin-bottom: 24px;
}

.flex2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
}
/* end content */

/* magic */
#magic {
  margin-top: 160px;
}

#magic .heading {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 100px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 50px;
}
.box-grid img {
  width: 100%;
}

.box-grid {
  width: fit-content;
  position: relative;
}

.box-grid .position {
  font-size: 64px;
  position: relative;
  right: 25px;
  bottom: 55px;
}

.text {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .header i {
    display: block;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  .menu {
    /* display: none; */
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    position: fixed;
    padding: 16px 8% 16px 8%;
    width: 100%;
    height: fit-content;
    right: 0;
    top: -100%;
    background-color: #2e2e2e;
    z-index: 100;
  }
  .active {
    top: -0%;
  }
  .menu .nav-item {
    flex-direction: column;
    padding-top: 28px;
  }
  .menu .nav-item {
    gap: 40px;
  }
  .menu .logo-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle i {
    color: white;
    font-size: 18px;
  }

  /* hero section */

  .flex {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .flex .left .head-text {
    text-align: center;
  }

  .flex .right .subtext {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .flex .right .boxes {
    margin-top: 20px;
    justify-content: space-between;
    gap: 20px;
  }

  .flex .right .boxes .box {
    justify-content: space-evenly;
    /* width: 120px; */
  }
  .flex .right .boxes .box h3 {
    color: white;
    font-size: 20px;
    line-height: 32px;
  }
  .flex .right .boxes .box span {
    color: #cdcdcd;
    /* width: 123px; */
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.001em;
  }
  .button-Primary {
    width: 150px;
  }
  .sponsor {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .flex2 {
    display: flex;
    flex-direction: column;
  }
  #content {
    margin-top: 100px;
  }
  .content1 .head-text {
    width: 100%;
  }
  #magic {
    margin-top: 100px;
  }
  #magic .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 50px;
  }
}
